*{
    margin: 0;
    padding: 0;
    background-color: #041130;
}

/* Navigation Bar */
#navbar{
    display: flex;
    background-color: black;
    align-items: center;
    position:relative;
    margin-top: 1%;
}

/* Logo */
#logo{
    margin: 10px 34px;
}

#logo img{
    margin: 3px 6px;
    height: 70px;
    width: 140px;
    cursor: pointer;
}

/* List Items */
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    background-color: black;
}

#navbar ul li a{
    color: antiquewhite;
    background-color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
}

#navbar ul li a:hover{
    color: black;
    background-color: antiquewhite;
}

/* Email and Password */
label{
    color: white;
    font-size: 40px;
    display: inline;
    margin-left: 500px;
    margin-top: 70px;
}

#emailtext{
    display: inline;
    color: white;
    font-size: 30px;
    margin-left: 106px;
    margin-top: 150px;
}

label{
    color: white;
    font-size: 40px;
    margin-left: 500px;
    margin-top: 5px;
    padding-bottom: 60px;
    display: inline-block;
}

#passtext{
    display: inline;
    color: white;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 5px;
}


/* Login Button */
.login{
    background-color: wheat;
    padding: 15px 32px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    display: block;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 644px;
}

/* Footer */
#footer{
    position: relative;
    height: 40px;
    margin-top: 60px;
}

p{
    padding: 10px;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
    word-spacing: 20px;
}

i{
    cursor: pointer;
}

/* Icons */
.fa-brands{
    color: antiquewhite;
}